// Set menu button
.menu-button {
  position: absolute;
  z-index: 3;
  right: 30px;
  top: 30px;
  cursor: pointer;
  @include easeOut; // mixin for transition

  .menu-button-line {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    @include easeOut;
  }

  // Rotate menu with an X
  &.close {
    transform: rotate(180deg);
    // make an X with lines
    .menu-button-line {
      // rotate first line and reposition
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // hide the second line
      &:nth-child(2) {
        opacity: 0;
      }
      // rotate third line
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -5px); 
      }
    }
  }
}

// Adjust menu overlay
.menu {
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.8;
  visibility: hidden;
  // when the menu button is clicked
  &.show {
    visibility: visible;
  }
  // display navbar and image in the middle
  &-image, &-nav {  // &-nav is short for .menu-nav
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style-type: none;
    // slide in the navbar from top
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // Set image
  &-image {
    background: $primary-color;
    // slide in from bottom to top
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url(../images/profilePic.png);
      background-size: cover;
      border-radius: 100%;
      border: 2px solid $secondary-color;
    }
  }
  // Set list item in nav
  .nav-item {
    // keep the list items at the right
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // slide in from right
      transform: translate3d(0, 0, 0);
    }
    // first link in the nav
    &.current > a {
      color: $secondary-color;
    }
  }
  // Set link in list item
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 200;
    color: #fff;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $i from 1 through 4 {
  .nav-item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s; // each of the item comes separately for every 0.1s
  }
}
