// Extra large laptops and desktops
@include mediaXLarge {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Laptops and desktops
@include mediaLarge {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & small laptops
@include mediaMedium {
  main {
    align-items: center;
    text-align: center;

    &#home h1 {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }

  ul.menu-nav,
  div.menu-image {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); //slide in from left
    font-size: 4rem;
  }

  .menu-image {
    height: 25vh;
    transform: translate3d(100%, 0, 0); //slide in from right

    .portrait {
      width: 120px;
      height: 120px;
    }
  }

  .aboutMe-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .boxes {
    div {
      font-size: 1.5rem;
      padding: 1rem 2rem;

      &:hover {
        padding: 0.5rem 1rem;
      }
    }
  }

  main#contactMe h1 {
    line-height: 1;
    margin: 2rem 0;
    font-size: 4rem;
  }
}

// Smart phones
@include mediaSmall {
  main#home h1 {
    margin-top: 20vh;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main#aboutMe h1,
  main#myWork h1 {
    margin-top: 10vh;
    font-size: 4rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes div {
    padding: 1rem 1rem;

    &:hover {
      padding: 0.5rem 0.5rem;
    }
  }
}
