// Extra large laptops and desktops
@include mediaXLarge {

}

// Laptops and desktops
@include mediaLarge {

}

// Tablets & small laptops
@include mediaMedium {
  main {
    align-items: center;
    text-align: center;

    &#home h1 {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }

  ul.menu-nav, div.menu-image {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); //slide in from left
    font-size: 4rem;
  }

  .menu-image {
    height: 25vh;
    transform: translate3d(100%, 0, 0); //slide in from right

    .portrait {
      width: 120px;
      height: 120px;
    }
  }
}

// Smart phones
@include mediaSmall {
  main#home h1 {
    margin-top: 10vh;
    font-size: 4rem;
  }
}