@import 'config'; //import the sass variables

// make sure everything stays in box-model
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

// set headings
h1, h2 {
  margin: 0;
  font-weight: 400;

  &.fullname-heading {
    font-size: 6rem;
  }

  &.description-heading {
    background: rgba(lighten($primary-color, 2), 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

// set links
a {
  color: #fff;
  text-decoration: none;
}

// set menu
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

// set everything excluding header
main {
  padding: 4rem;
  height: 100%;

  .social-media-icons {
    margin-top: 1rem;

    a {
      padding: 0.3rem;
      
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden; // hide scrollbar

    h1 {
      margin-top: 20vh;
    }
  }
}