@import "config"; //import sass variables for main
@import "menu"; //import sass variables for menu

// make sure everything stays in box-model
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

// set headings
h1,
h2 {
  margin: 0;
  font-weight: 400;

  &.fullname-heading {
    font-size: 6rem;
  }

  &.description-heading {
    background: rgba(lighten($primary-color, 2), 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

// set links
a {
  color: #fff;
  text-decoration: none;
}

// set menu
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

// set everything excluding header
main {
  padding: 4rem;
  min-height: calc(100vh - 60px); // 60px is the height of footer

  .social-media-icons {
    margin-top: 1rem;

    a {
      padding: 0.3rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden; // hide scrollbar

    h1 {
      margin-top: 20vh;
    }
  }
}

// About Me Page - grid settings
.aboutMe-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    margin: auto;
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    background: url(../images/profilePic.png);
    background-size: cover;
    border-radius: 100%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .first-job {
    grid-area: job1;
  }
  .second-job {
    grid-area: job2;
  }
  .third-job {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 1rem;
    border-bottom: 5px solid $secondary-color;
  }
}

// My Work Page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;

  img {
    width: 100%;
    height: 200px;
    border: 3px solid #fff;

    &:hover {
      opacity: 0.6;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Me Page
.boxes {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  div {
    font-size: 2rem;
    border: 3px solid #fff;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
    @include easeOut;

    &:hover {
      padding: 1rem 2rem;
      background: $secondary-color;
      color: setTextColor($secondary-color);

      span {
        color: setTextColor($secondary-color);
      }
    }
  }
}

// Button styles
.button {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.2rem;

  &:hover {
    background: $secondary-color;
    color: setTextColor($secondary-color);
  }
}

.button-dark {
  @extend .button; //inherits from .button class
  background: darken($primary-color, 50);
}

.button-light {
  @extend .button; //inherits from .button class
  background: lighten($primary-color, 50);
  color: rgb(46, 44, 44);
}

// Footer setting
#footer-main {
  text-align: center;
  padding: 1rem;
  height: 60px;
  background: darken($primary-color, 10);
  color: setTextColor($primary-color);
}

@import "mobile"; //import media queries for mobile. Media queries should be used after css therefore it's defined at the bottom.
